# =========================
# 1. Node.js (메인 백엔드)
# =========================
node_modules/
.env

# =========================
# 2. Python / Flask (AI 서버)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
Flask_server/venv/
Flask_server/__pycache__/

# =========================
# 3. 데이터 및 로그 파일
# =========================
data/
error_log.txt
*.log

# =========================
# 4. OS 및 에디터 설정 파일 (찌꺼기 방지)
# =========================
# Mac 유저들이 올리는 이상한 숨김 파일 차단
.DS_Store

# VS Code나 IntelliJ 설정 파일 올라가는 것 차단
.vscode/
.idea/